Checks: "-*,readability-identifier-naming \
  cert-*,\
  performance-*,\"
CheckOptions:
  - key:             readability-identifier-naming.MemberCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberPrefix
    value:           m_
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           m_
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           m_