Checks: '-*,readability-identifier-naming,cert-*,performance-*'
CheckOptions:
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.MemberPrefix: m_
  readability-identifier-naming.PrivateMemberPrefix: m_
  readability-identifier-naming.ProtectedMemberPrefix: m_